@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background:#fcfcfc;
}

.app-container {
    width:800px;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    gap: 1em;
    padding:5vh 0;
}

.concept {
    /* border-radius: 5px;
    border:1px solid #EEEEEE; */
    box-sizing: border-box;
}

.concept-head {
    padding: 1.3em 1em 1em 1em;
    font-weight:600;
}

.subtopic {
    display:flex;
    align-items:center;
    gap:1em;
    text-decoration: none;
    /* border-style:none none solid none;
    border-width:1px;
    border-color:#EEEEEE; */
    padding:0.7em 1em;
    transition:0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.subtopic:last-child {
    border-style:none;
}

.subtopic:hover {
    opacity:0.8;
}

.subtopic-outline {
    display:flex;
    align-items:center;
    justify-content:center;
    border-width:1px;
    border-radius:100%;
    border-style:solid;
    width:30px;
    height:30px;
}

.subtopic-text {
    max-width:calc(100% - 3em)
}

.page-container {
    width:800px;
    margin:0 auto;
}

.page-head {
    margin:5vh 0;
    box-sizing: border-box;
    padding:2em;
    border-radius:7px;
    background:white;
    border:1px solid #EEEEEE;
}

.page-head .crumbs {
    display:inline-flex;
    margin-bottom:1em;
    text-decoration: none;
    transition:0.2s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.page-head .crumbs:hover {
    opacity:0.9;
}

.page-head .crumbs .left {
    border-radius: 100px 0 0 100px;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5px 10px 5px 13px;
    
    color:white;
}

.page-head .crumbs .right {
    border-radius: 0 100px 100px 0;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5px 10px 5px 7px;

    border-style:solid;
    border-width:1px;
}


.page-content table {
    overflow:auto;
}

/* Semi jank overrides */

.page-content h1,
.page-content h3 {
    margin:2em 0 1em 0;
}

.page-content h4 {
    margin:1em 0;
}

.page-content p {
    margin-bottom:1em;
    line-height:160%;
}

.page-content p.keywords {
    background:rgba(255, 255, 0, 0.466);
    font-weight:bold;
}

.page-content p.caption {
    color:#777;
}

.page-content img {
    max-width:100%;
    height:auto;
    margin-bottom:1em;
}

.page-content ul,
.page-content ol {
    margin-top:1em;
    margin-left:25px;
    margin-bottom:1em;
}

.page-content hr {
    border:none;
    background:#EEE;
    height:1px;
    margin:2em 0;
}

.page-content br {
    margin-top:-1em;
}

.page-content blockquote {
    background:rgb(247, 247, 247);
    padding:1.5em;
    box-sizing: border-box;
    margin-bottom:1em;
}

.page-content table {
    height:auto !important;
    width:100% !important;
    border-collapse: collapse;
    margin-bottom:1em;    
    display:block;
    overflow:auto;
}

.page-content table h2 {
    /* should be h4 style */
    margin:1em 0;
    font-size:16px;
}

.page-content table img {
    max-width:300px !important;
    height:auto !important;
}

.page-content table th,
.page-content table td {
    padding:0.4em;
    border:1px solid black;
    
}